@tailwind base;
@tailwind components;
@tailwind utilities;

.blured-bg {
  background-image: linear-gradient(225deg, #7878ec, #9a59f5 51%, #ef753a 64%);
  opacity: 0.8;
  -webkit-filter: blur(120px);
  /* Safari specific */
  filter: blur(120px);
  border-radius: 400px;
  width: 700px;
  z-index: 342;
  height: 700px;
  position: absolute;
  pointer-events: none;
  /* Prevents interaction */
  backface-visibility: hidden;
  /* Improve rendering on Safari */
  -webkit-backface-visibility: hidden;
  /* For Safari */
  will-change: transform, filter;
  /* Performance optimization */
}

.blured-bg-cta {
  background-image: linear-gradient(225deg, #7878ec, #9a59f5 51%, #ef753a 64%);
  opacity: 0.6;
  -webkit-filter: blur(120px);
  /* Safari specific */
  filter: blur(120px);
  border-radius: 400px;
  width: 700px;
  z-index: 324;
  height: 700px;
  position: absolute;
  pointer-events: none;
  /* Prevents interaction */
  backface-visibility: hidden;
  /* Improve rendering on Safari */
  -webkit-backface-visibility: hidden;
  /* For Safari */
  will-change: transform, filter;
  /* Performance optimization */
}

html {
  scroll-behavior: smooth;
}

.blured-bg-1 {
  background-image: linear-gradient(225deg, #7878ec, #9a59f5 51%, #ef753a 64%);
  opacity: 0.9;
  -webkit-filter: blur(120px);
  /* Safari specific */
  filter: blur(120px);
  border-radius: 400px;
  width: 1284px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 532;
  pointer-events: none;
  /* Prevents interaction */
  backface-visibility: hidden;
  /* Improve rendering on Safari */
  -webkit-backface-visibility: hidden;
  /* For Safari */
  will-change: transform, filter;
  /* Performance optimization */
}

/* Below tablet size (768px and below) */
@media (max-width: 768px) {
  .blured-bg-1 {
    max-width: 500px;
    width: 100%;
    height: 700px;
    bottom: 0;
    -webkit-filter: blur(80px);
    /* Reduced blur for smaller screens */
    filter: blur(80px);
  }
}


/* Loader animation */
.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  /* Light grey */
  border-top: 8px solid var(--primary-2);
  /* Primary-2 color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.ql-toolbar.ql-snow {
  background-color: white;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.form-check.form-switch.custom-form-check .form-check-input.cursor-pointer.toggler {
  background-color: #7d71e5;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.ql-tooltip.ql-editing {
  left: inherit !important;
}

.react-datepicker-popper .react-datepicker {
  border: none;
  border-radius: 26px;
  padding-top: 4px;
}

.react-datepicker-popper .react-datepicker .react-datepicker__navigation--previous,
.react-datepicker-popper .react-datepicker .react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker-popper .react-datepicker .react-datepicker__header {
  background-color: white;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker__triangle {
  fill: white !important;
  color: white !important;
}

.react-star span {
  width: 20% !important;
  text-align: center !important;
}

.navbar-nav.custom-navbar-links.justify-around li a {
  padding-left: 0;
  padding-right: 0;
}

.no-underline > a {
  text-decoration: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  /* Hide spinner for Chrome, Safari, Edge */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide spinner for Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}